<!doctype html>
<html lang="en">
<head>
    <%- include(`partials/head`) %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
</head>
<body>
<%- include(`partials/header`) %>
<%- include(`partials/nav`) %>
<main>
    <h1><%= restName %></h1>
    <p><%= restCuisine %> | <%= restAddress%></p>
    <p><%= restDescription %></p>
    <p><a href=<%= restWebsite %>>Click</a></p>
</main>
</body>
</html>