<!doctype html>
<html lang="en">
<head>
    <%- include(`partials/head`) %>
    <link rel="stylesheet" href="styles/restaurants.css" />
</head>
<body>
<%- include(`partials/header`) %>
<%- include(`partials/nav`) %>
<main>
    <h1>Recommended restaurants</h1>
    <% if (totalRestaurants === 0){%>
        <p>Looks like we don't have any restaurants yet. Add your recommendations! </p>
    <% } else { %>
        <p>Find your next favorite restaurants with help of our other users!</p>
        <p>We found <%= totalRestaurants %> restaurants.</p>
        <ul id="restaurants-list">
            <% for (restaurant of storedRestaurants) { %>
                <%- include partials/restaurant-item.ejs%>
            <% } %>
        </ul>
    <% } %>


</main>
</body>
</html>