<%- include(`partials/header`)%>
<h1>Home</h1>
<% if (totalPosts === 0) {%>
    <p><%= homeStartingContent %></p>
<%} else {%>
    <p><%= homeStartingContent %></p>
    <ul id="postList" class="postList">
        <% for(post of savedPosts) {%>
            <li class="singlePost">
                <article>
                    <h3><%= post.postTitle%></h3>
                    <% if (post.postBody.length > 100){%>
                        <p>
                            <%= post.postBody.substring(0,100) %> ...
                            <a href='/posts/<%= post.postTitle %>'>Read More</a>
                        </p>
                    <%} else {%>
                        <p>
                            <%= post.postBody %> ...
                            <a href='/posts/<%= post.postTitle %>'>Read More</a>
                        </p>
                    <%}%>
                </article>
            </li>
        <%}%>
    </ul>
<%}%>
<%- include(`partials/footer`)%>
